<ng-container *ngIf="viewMode == eViewMode.Dashboard">
	<nav></nav>
	<main>
		<div left role="navigation">
			<mat-list>
				<div mat-subheader style="color: #646464 ;">DEMOS</div>
				<mat-list-item [routerLink]="'demo1/default'">
					<button 
					role="button"
					title="Default"
					mat-raised-button style="width: 100%" [routerLink]="'demo1/default'" color="primary">Default</button>
				</mat-list-item>
				<mat-list-item [routerLink]="'demo2/filter'">
					<button
					role="button"
					title="Include Filter"
					 mat-raised-button style="width: 100%" [routerLink]="'demo2/filter'" color="warn">
						Include Filter
					</button>
				</mat-list-item>
				<mat-list-item [routerLink]="'demo1/uxuiglpkdgr3wop9'">
					<button 
					role="button"
					title="Include Alerts"
					mat-raised-button style="width: 100%" [routerLink]="'demo1/uxuiglpkdgr3wop9'" color="warn">
						Include Alerts
					</button>
				</mat-list-item>
				<mat-list-item routerLink="main">
					<button 
					role="button"
					title="Main Page"
					mat-raised-button style="width: 100%" routerLink="main">Main Page</button>
				</mat-list-item>
			</mat-list>
		</div>
		<div right>
			<router-outlet></router-outlet>
		</div>
	</main>
</ng-container>

<ng-container *ngIf="viewMode == eViewMode.Fullscreen">
	<router-outlet></router-outlet>
</ng-container>
