<div class="panel panel-scanned-text" layout="column">
    <div class="panel-heading" layout="row">
        <div flex></div>
        <span>
            <img src="/images/compare-education/formating/format_align_left/white@3x.svg" ng-click="source_set_rtl(false)" />
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Align Left
            </md-tooltip>
        </span>
        <span>
            <img src="/images/compare-education/formating/format_align_right/white@3x.svg" ng-click="source_set_rtl(true)" />
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Align Right
            </md-tooltip>
        </span>
        <span>
            <img src="/images/compare-education/formating/FontSizeUp/white@3x.svg" ng-click="source_font_inc()" />
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Increase Font Size
            </md-tooltip>
        </span>
        <span>
            <img src="/images/compare-education/formating/FontSizeDown/white@3x.svg" ng-click="source_font_dec()" />
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Decrease Font Size
            </md-tooltip>
        </span>
        <span ng-if="!isShared">
            <a href="" ng-click="download()"><img src="/images/compare-education/formating/file_download/white@3x.svg" /></a>
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Download Your Text
            </md-tooltip>
        </span>
        <span>
            <a href="" class="btn-share-report-mobile hidden visible-xs-inline" ng-click="showShareModal()">
                <md-icon md-font-icon="link" class="panel-heading-button-with-md-icon">share</md-icon>
            </a>
            <md-tooltip md-direction="bottom" md-autohide="true" md-delay="500">
                Share this report
            </md-tooltip>
        </span>
    </div>
    <div class="panel-body flexcroll" ng-class="{'results-panel-body': !highlighted_text}" flex>
        <div class="text-page-loading-container">
            <md-progress-circular md-mode="indeterminate" class="hide-during-angular-ng-leave text-loading-indicator" md-diameter="50px" ng-show="!highlighted_text || reportDataService.working">
            </md-progress-circular>
        </div>
        
        <pre ng-show="highlighted_text" ng-bind-html-compile="highlighted_text | unsafe" compile-tags="span" style="font-size: {{ settings.ui.fontSize }}px;"
             ng-class="{'rtl-mode': settings.ui.rtlMode, 'identical-on': settings.showIdentical, 'similar-on': settings.showSimilar, 'related-on': settings.showRelated}"></pre>
    </div>
</div>

